.test {
  border: solid 1px;
}
html {
  background: rgb(3,124,165);
}
body {
  background-color: transparent;
  color: #ffffff;
  opacity: 0.8;
}
.header h1 {
  text-align: center;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.0vw;
}
.header h5 {
  text-align: center;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.0vw;
}
.clock {
  width: 80%;
  margin: auto;
}
.bin {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75vw;
}
.dec {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 7.0vw;
}
.hour1 {
  padding-right: 0.75%;
}
.hour2 {
  padding-left: 0.75%;
}
.minute1 {
  padding-right: 0.75%;
}
.minute2 {
  padding-left: 0.75%;
}
.second1 {
  padding-right: 0.75%;
}
.second2 {
  padding-left: 0.75%;
}
.bin-hour1 {
  padding-right: 0.75%;
  text-align: center;
}
.bin-hour2 {
  padding-left: 0.75%;
  text-align: center;
}
.bin-minute1 {
  padding-right: 0.75%;
  text-align: center;
}
.bin-minute2 {
  padding-left: 0.75%;
  text-align: center;
}
.bin-second1 {
  padding-right: 0.75%;
  text-align: center;
}
.bin-second2 {
  padding-left: 0.75%;
  text-align: center;
}
.dec-hour1 {
  padding-right: 0.75%;
  text-align: center;
}
.dec-hour2 {
  padding-left: 0.75%;
  text-align: center;
}
.dec-minute1 {
  padding-right: 0.75%;
  text-align: center;
}
.dec-minute2 {
  padding-left: 0.75%;
  text-align: center;
}
.dec-second1 {
  padding-right: 0.75%;
  text-align: center;
}
.dec-second2 {
  padding-left: 0.75%;
  text-align: center;
}
.modal-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.modal-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.modal-content h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.circle {
  width: 100%;
  padding-top: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.inactive {
  background-color: transparent;
  border: solid 0px transparent;
}
.active {
  border: solid 0px;
}
.on {
  background: rgb(189,182,182);
  background: linear-gradient(158deg, rgb(231, 231, 231) 3%, rgb(142, 190, 248) 100%);
}
.off {
  background: rgb(189,182,182);
  background: linear-gradient(158deg, rgb(231, 231, 231) 3%, rgb(142, 190, 248) 100%);
  opacity: 0.5;
}
.disapear {
  color: transparent;
}